.skillTitle {
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .skills {
    justify-content: space-around;
  }

  .skill {
    height: 150px;
    width: 150px;
    margin: 5px;
  }
}
